<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Details</title>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Details</title>

      <style>
        .btn {
    display: inline-block;
    padding: 12px;
    text-align: center;
    border-radius: 8px;
    background: linear-gradient(90deg, #ff6a00, #ee0979);
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    margin-top: 15px;
    width: 100%;
    transition: 0.3s;
}
.btn:hover {
    background: linear-gradient(90deg, #ee0979, #ff6a00);
    transform: scale(1.03);
}

    </style>
</head>
<body>
    <div class="details_employee-box">
        <h2>Employee Options</h2>
        <a href="/search_employee" class="btn">Search Employee</a>
        <br><br>
        <a href="/all_employees" class="btn">All Employees</a>
        <br><br>
        <a href="/mark_attendance" class="btn">mark_attendance</a>
    </div>
</body>
</html>
